<h1>Edit account</h1>

<%= form_for @user do |f| %>

First Name:<%= f.text_field :fname %><br>
Last Name:<%= f.text_field :lname %><br>
Username:<%= f.text_field :username %><br>
Email:<%= f.text_field :email %><br>
Password:<%= f.text_field :password %><br>
<%= f.submit %>
<% end %>
<%= link_to "Delete",  "/users/#{@user.id}",  method: :delete, data: { confirm: 'Are you sure?' } %>
